<div #ngx_uploader >
<h1>ngx-uploader</h1>
<label class="upload-button">
  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
  or choose file(s)
</label>
 
<button type="button" class="start-upload-btn" (click)="startUpload()">
  Start Upload
</button>
<div #ngx_uploader_error>
  {{ngxuError}}
</div>
</div>

<div #angular_file_uploader>
  <h1>angular file uploader</h1>
  <angular-file-uploader
      [config]="afuConfig">
  </angular-file-uploader>
  <div #angular_file_uploader_error>
    {{afuError}}
  </div>
</div>