:host {
	background-color: #ffffff ;
	border-radius: 7px 7px 7px 7px ;
	display: block ;
	padding: 20px 20px 20px 20px ;
	position: relative ;
    width: 400px ;
    height: 300px ;
}

.close {
	color: #666666 ;
	cursor: pointer ;
	font-size: 24px ;
	font-weight: 800 ;
	line-height: 24px ;
	position: absolute ;
	right: 10px ;
	text-decoration: none ;
	top: 7px ;
}

.title {
	margin: 0px 0px 20px 0px ;
}
