<a (click)="closeModal()" class="close">
  &times;
</a>
<h2 class="title">
  Filter elements go in there
</h2>
<div>
  <p>Blah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blah</p>
</div>
