:host {
	background-color: rgba( 0, 0, 0, 0.85 ) ;
	bottom: 0px ;
	cursor: pointer ;
	display: flex ;
	left: 0px ;
	overflow: auto ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
	z-index: 100 ;
}

.container {
	cursor: default ;
    margin: auto auto auto auto ;
    //margin: 10px 10px 10px 10px;
}